.page {
    max-width: 100%;
    height: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding-block: 41px;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 15px;
}