.about {
    margin-block-end: 35px;
    display: grid;justify-content: center;
    * {
        margin-block-end: 1rem;
    }
}
.about__left-block {
}
.section__subtittle {
}
.section_tittle {
}
.about__dots {
    text-align: center;
    a:hover {
        text-decoration: none;
    }
}
.about__dots-dot {
}
.about__right-block {
    position: relative;
    max-width: 504px;
    max-height: 245px;
    border-radius: 10px;
  background: #ffffff;
  background-blend-mode: normal;
  box-shadow: 0px 1.85px 3.15px rgba(0,0,0,0),
              0px 8.15px 6.52px rgba(0,0,0,0.01),
              0px 20px 13px rgba(0,0,0,0.01),
              0px 38.52px 25.48px rgba(0,0,0,0.01),
              0px 64.81px 46.85px rgba(0,0,0,0.02),
              0px 100px 80px rgba(0,0,0,0.02);
              padding: 1em;
}
.about__right-block_card {
}
.about__right-block-img {
    position: absolute;
    top:-50px;
    left: -30px;
}
.about__name {
    color: #5e6282;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
}
.about__adress {
    color: #5e6282;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
}