.steps {
    margin-block-end: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2em;
    * {
        margin-block-end: 1rem;
    }
}

.steps__text-block {
    flex-basis: 50%;
}

.steps__text-block-boxes {
    max-width: 395px;;
}
.steps__boxes-box {
    display: flex;
    column-gap: 1em;
    align-items: start;
    p {
        margin-block-end: .3em;
    }
}
.steps__kard {
    max-width: 370px;
    max-height: 400px;
    border-radius: 26px;
    background: #ffffff;
    background-blend-mode: normal;
    box-shadow: 0px 1.85px 3.15px rgba(0,0,0,0),
                0px 8.15px 6.52px rgba(0,0,0,0.01),
                0px 20px 13px rgba(0,0,0,0.01),
                0px 38.52px 25.48px rgba(0,0,0,0.01),
                0px 64.81px 46.85px rgba(0,0,0,0.02),
                0px 100px 80px rgba(0,0,0,0.02);
                padding: 1rem;
    p {
        margin-block-end: .5em;
    }
}
.staps__kard_social-block {
    display: flex;
    justify-content: start;
    column-gap: 1em;
    align-items: 
    center;
}
.steps__kard-footer {
    display: flex;
    justify-content: space-around;
}
